<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dang.order.finalapi.dao.OrderDao">
	<resultMap id="ordersRM" type="com.dang.order.finalapi.dto.db.Order">
		<result property="orderId" column="order_id" />
		<result property="orderStatus" column="order_status" />
		<result property="isSplitPackage" column="is_split_package" />
	</resultMap>

	<sql id="columns">
		<![CDATA[ order_id, order_status, is_split_package ]]>
	</sql>

	<select id="selectByOrderId" resultMap="ordersRM" parameterType="java.util.HashMap">
		select <include refid="columns" />
		from orders with(nolock)
		WHERE order_id = #{orderId}
	</select>

	<update id="update" parameterType="com.dang.order.finalapi.dao.criteria.OrderCriteria" >
		UPDATE orders
		SET order_status = #{orderStatus},
		    last_change_date=getdate()
		WHERE
			order_id = #{orderId}
		AND order_status in
		<foreach collection="oldStatusList" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
</mapper>
